/*star animation*/
.mobile-star-open {
    animation: rotate .2s linear;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

.mobile-star-close {
    animation: rotate-reverse .2s linear;
}
@keyframes rotate-reverse {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/*line animation*/
.animate-line-down {
    animation: line-down .3s linear;
}
@keyframes line-down {
    0% {
        height: 0;

    }
    100% {
        height: 160px;
    }
}

.animate-line-up {
    animation: line-up .3s linear;
}
@keyframes line-up {
    0% {
        height: 160px;
    }
    100% {
        height: 0;
    }
}

/*links animation*/
.slide-sideways {
    animation: slide-sideways .3s linear;
}
@keyframes slide-sideways {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-sideways-reverse {
    animation: slide-sideways-reverse .3s linear;
}
@keyframes slide-sideways-reverse {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-20%);
    }
}