@import "tailwindcss";

:root {
  --primary: #FFF2E2;
  --secondary: #700606;
  --tertiary: #C40C0C;
  --black: #000000;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-black: var(--black);
  --font-instrument-serif: var(--font-instrument-serif);
  --font-instrument-sans: var(--font-instrument-sans);
  --font-inter: var(--font-inter);
  --font-shrikhand: var(--font-shrikhand);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #FFF2E2;
    --secondary: #700606;
    --tertiary: #C40C0C;
    --black: #000000;
  }
}

body {
  background: var(--primary);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}
