@import "tailwindcss";

:root {
  --primary: #FFF2E2;
  --secondary: #700606;
  --tertiary: #C40C0C;
  --black: #000000;
  --texture: #150C0C;
  --primary-muted: #A8A097;
  /*--breakpoint-3xl: 120rem;*/
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-black: var(--black);
  --color-texture: var(--texture);
  --color-primary-muted: var(--primary-muted);
  --font-instrument-serif: var(--font-instrument-serif);
  --font-instrument-sans: var(--font-instrument-sans);
  --font-inter: var(--font-inter);
  --font-shrikhand: var(--font-shrikhand);
  --breakpoint-3xl: 120.063rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #FFF2E2;
    --secondary: #700606;
    --tertiary: #C40C0C;
    --black: #000000;
    --texture: #150C0C;
    --primary-muted: #A8A097;
    /*--breakpoint-3xl: 120rem;*/
  }
}

body {
  background: var(--primary);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}
